* {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

body {
    margin: 10 100 0 100;
}

div {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #777;
    background-color: #ebebeb;
    font-size: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #ebebeb;
}

.header {
    margin-bottom: 10px;
}

.nav {
    margin-bottom: 10px;
}

.section {
    margin-bottom: 10px;
    width: 49%;
    float: left;
    height: 240px;
}

.aside {
    margin-bottom: 10px;
    width: 49%;
    float: right;
    height: 240px;
}

.footer {
    clear: both;
}

.article {
    background-color: #777;
    color: #ebebeb;
    margin: 7px;
    padding: 15px;
}

#article-content {
    margin: 5px;
    padding: 5px;
}