* {
    background-color: #777;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

div {
    background-color: #ebebeb;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
}

#header {
    margin-bottom: 10px;
}

#nav {
    margin-bottom: 10px;
}

#section {
    margin-bottom: 10px;
    width: 40%;
    float: left;
}

#aside {
    margin-bottom: 10px;
    float: right;
    overflow: auto;
    
}

#footer {
    clear: both;
}


#article {
    background-color: #777;
    color: #ebebeb;
    margin: 7px;
}

#article-content {
    margin: 5px;
}
